@import "tailwindcss";

html {
	/* scroll-behavior: smooth; */
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	/* background-image: url("./lib/assets/bg.png"); */
	background-repeat: repeat-y;
	background-size: 500% 500%;
	background-color: rgba(0, 0, 0, 1);
}

body::before {
	content: "";
	position: fixed;
	/* stays put even while scrolling */
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	/* adjust darkness here */
	z-index: -1;
	/* behind your content */
	pointer-events: none;
}

@keyframes scrollBg {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 0 1000px;
	}
}


.inverse-bg {
	position: relative;
	z-index: 0;
}

.inverse-bg::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;

	background: rgba(255, 255, 255, 0.1);

	mix-blend-mode: difference;

	border-radius: inherit;
	pointer-events: none;
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


.project-panel {
	transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-panel.hover-right {
	--tiltY: -5deg;
	--tiltX: 3deg;
}

.project-panel.hover-left {
	--tiltY: 5deg;
	--tiltX: 3deg;
}

.project-panel.hover-left:hover,
.project-panel.hover-right:hover {
	transform: perspective(600px) rotateY(var(--tiltY)) rotateX(var(--tiltX)) translateY(-3px);
	box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}
